<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="logo">
      <%= image_tag("0a110159-a9b4-4430-a4dd-f72093bfe816_200x200.png", size: "70x70") %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-text active">

       <%= link_to "Home", root_path, class: "nav-link" %></a>
      </li>

       <li class="nav-text">
        <%= link_to "Add new car", new_car_path, class: "nav-link" %></a>
      </li>
    
       <li class="nav-text">
        <%= link_to "Cars", cars_path, class: "nav-link" %></a>
      </li>
       <li class="nav-text">
        <%= link_to "Your cars", dashboards_show_path, class: "nav-link" %></a>
      </li>
       <li class="nav-text">
        <%= link_to "Your bookings", bookings_path, class: "nav-link" %></a>

      </li>
      <li class="nav-text dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
           <%= link_to "Log out", destroy_user_session_path,  method: :delete, class: "dropdown-item" %></a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div>

<div class="container">




  <div class="row">
    <div class="column1">
      <h1 class="bold-text">Booking Overview</h1>
      <p class="bold-text">Here are the details of the car that you have booked:</p>
      <%= simple_form_for [@car, @booking], :html => { class: "div-absolute" } do |f| %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= link_to "Confirm your booking", bookings_path, class: "btn btn-primary" %>
      <% end %>
      <br>
    </div>
    <div class="column2">
      <h1 class="bold-text">Payment Options</h1>
      <p class="bold-text">Here are the payment options for renting the car:</p>
      <div class="mainContainer">
        <div class="cardHolder">
          <div class="header">
            <div class="heading center">CHECKOUT</div>
            <div class="stepHeading center">Payment Method</div>
            <div class="card">
              <div class="top part">
                <img src="https://images.unsplash.com/photo-1560472355-536de3962603?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="visa-1.png" border="0" />
              </div>
              <div class="middle part">
                <div class="infoheader vcenter">CARD NUMBER</div>
                <div class="infocontent number vcenter">
                  <div class="num center, bold-text">****</div>
                  <div class="num center, bold-text">****</div>
                  <div class="num center, bold-text">4658</div>
                  <div class="num center, bold-text">****</div>
                </div>
              </div>
              <div class="bottom part">
                <div class="holderInfo">
                  <div class="infoheader vcenter">CARD HOLDER</div>
                  <div class="infocontent name vcenter, bold-text">JOHN DOE</div>
                </div>
                <div class="expDate">
                  <div class="infoheader vcenter">EXP. DATE</div>
                  <div class="infocontent date vcenter, bold-text">09/2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="status vcenter, bold-text"> <i class="fa fa-check" aria-hidden="true"></i>
          Option : Credit/Debit Card
        </div>
        <h5 class="center, bold-text">OTHER PAYMENT OPTIONS</h5>
        <div class="options vcenter">
          <div class="opt">
            <div class="icon center">
              <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="optname center">Bank Transfer</div>
          </div>
          <div class="opt">
            <div class="icon center">
              <i class="fa fa-btc" aria-hidden="true"></i>
            </div>
            <div class="optname center">BitCoin</div>
          </div>
          <div class="opt">
            <div class="icon center">
              <i class="fa fa-google-wallet" aria-hidden="true"></i>
            </div>
            <div class="optname center">Paypal</div>
          </div>
        </div>
        <div class="payment vcenter">
          <div class="amount">
            <div class="infoheader vcenter">Total Amount</div>
            <div class="infocontent val vcenter">$ 1,960</div>
          </div>
        </div>
      </div>
      <br>
    </div>  
  <div>
</div>
</div>
</div>
<br>


<div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github mx-4"></i></a>
        <a href="#"><i class="fab fa-instagram mx-4"></i></a>
        <a href="#"><i class="fab fa-facebook mx-4"></i></a>
        <a href="#"><i class="fab fa-twitter mx-4"></i></a>
        <a href="#"><i class="fab fa-linkedin mx-4"></i></a>
      </div>
    </div>