<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="logo">
      <%= image_tag("0a110159-a9b4-4430-a4dd-f72093bfe816_200x200.png", size: "70x70") %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-text active">

       <%= link_to "Home", root_path, class: "nav-link" %></a>
      </li>

       <li class="nav-text">
        <%= link_to "Add new car", new_car_path, class: "nav-link" %></a>
      </li>
    
       <li class="nav-text">
        <%= link_to "Cars", cars_path, class: "nav-link" %></a>
      </li>
       <li class="nav-text">
        <%= link_to "Your cars", dashboards_show_path, class: "nav-link" %></a>
      </li>
       <li class="nav-text">
        <%= link_to "Your bookings", bookings_path, class: "nav-link" %></a>

      </li>
      <li class="nav-text dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1489824904134-891ab64532f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
           <%= link_to "Log out", destroy_user_session_path,  method: :delete, class: "dropdown-item" %></a>
        </div>
      </li>
    </ul>
  </div>
</div>


​
​
<div class="index-container">
  <div class="cards">
    <% @cars.each do |car| %>
        <div class="Card"> 
          <h2 class="Card__name"><%= car.model %></h2>
          <% if car.photo.attached? %>
          <div class="Card__image" style="background: url('<%= cl_image_path car.photo.key, height: 80, width: 150, crop: :fill %>')">
          </div>
          <% end %>
          <div class="row cars-infos-user">
            <div class="Card_btn">
              <%= link_to 'Edit', cars_path(@car), class: "btn btn-primary" %>
            </div>
            <div class="Card__info">
              <p><%= car.price %> €/day</p>
              <p><%= car.consumption %> L/km</p>
            </div>
            <div class="Card_btn">
              <%= link_to 'Delete', cars_path(@car), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>



    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github mx-4"></i></a>
        <a href="#"><i class="fab fa-instagram mx-4"></i></a>
        <a href="#"><i class="fab fa-facebook mx-4"></i></a>
        <a href="#"><i class="fab fa-twitter mx-4"></i></a>
        <a href="#"><i class="fab fa-linkedin mx-4"></i></a>
      </div>
    </div>
