<div class="container">

<div class="topnav">
  <%= link_to "Home", root_path %>
  <%= link_to "Cars", cars_path %>
  <a href="#add_car">Add Car</a>
  <a href="#your_cars">Your Cars</a>
  <a href="#your_bookings">Your bookings</a>
  <a href="#" style="float:right"><img src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Avatar" class="avatar"></a>
</div>

  <div class="car-container">
    <div class="card-product">
      <%= image_tag("BMW_1.jpg") %>
      <%# <img src="/assets/images/BMW_1.jpg" /> %>
      <%# <img src="/assets/icon.png" /> %>
      <%= @car.model %>
      <%= @car.price %>
      <%= @car.fuel_type %>
      <%= @car.consumption %>
      <%= @car.category %>
      <%= @car.seat_number %>
      <%= @car.transmission %>
    </div>
    <div class="card-booking">

    </div>
  </div>
</div>