<div class="container">



  <div class="car-container">
    <div class="card-product">
      <%= image_tag("BMW_1.jpg", :alt => "car example") %>
      <%= @car.model %>
      <%= @car.price %>
      <%= @car.fuel_type %>
      <%= @car.consumption %>
      <%= @car.category %>
      <%= @car.seat_number %>
      <%= @car.transmission %>
    </div>
    <div class="card-booking">

    </div>
  </div>
</div>