<div class="container">



  <div class="car-container">
    <div class="card-product">
     <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
 
      <%= @car.model %>
      <%= @car.price %>
      <%= @car.fuel_type %>
      <%= @car.consumption %>
      <%= @car.category %>
      <%= @car.seat_number %>
      <%= @car.transmission %>
    </div>
    <div class="card-booking">

    </div>
  </div>
</div>